<div class="container mt-5 mb-5">
  <h1>Contact</h1>
  <form class="col-lg-8" [formGroup]="userForm" (ngSubmit)="submitHandler()">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input
          type="text"
          formControlName="firstname"
          id="firstname"
          class="form-control"
          placeholder="Enter First Name"
        />
        <div
          *ngIf="
            userForm.get('firstname').invalid &&
            userForm.get('firstname').touched
          "
          class="form-text val"
        >
          firstname is Invalid
        </div>
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input
          type="text"
          id="lastname"
          formControlName="lastname"
          class="form-control"
          placeholder="Enter Last Name"
        />
        <div
          *ngIf="
            userForm.get('firstname').invalid &&
            userForm.get('firstname').touched
          "
          class="form-text val"
        >
          firstname is Invalid
        </div>
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input
          type="text"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Enter Email ID"
        />
        <div
          *ngIf="userForm.get('email').invalid && userForm.get('email').touched"
        >
          <p *ngIf="userForm.get('email').hasError('required')">
            Email is required.
          </p>
          <p *ngIf="userForm.get('email').hasError('pattern')">
            Invalid email format.
          </p>
        </div>
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input
          type="text"
          id="mobile"
          formControlName="mobile"
          class="form-control"
          placeholder="Enter Mobile"
        />
        <div
          *ngIf="
            userForm.get('mobile').invalid && userForm.get('mobile').touched
          "
        >
          <p *ngIf="userForm.get('mobile').hasError('required')">
            Mobile number is required.
          </p>
          <p *ngIf="userForm.get('mobile').hasError('pattern')">
            Invalid mobile number format.
          </p>
        </div>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-md btn-dark" type="submit">Submit</button>
      </div>
      <div
        class="alert alert-success mt-4"
        *ngIf="showAlert && alertMessage === 'Form submitted successfully!'"
      >
        {{ alertMessage }}
      </div>

      <div
        class="alert alert-danger mt-4"
        *ngIf="showAlert && alertMessage === 'Invalid form submission!'"
      >
        {{ alertMessage }}
      </div>
    </div>
  </form>
</div>
